In [1]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import joblib
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler', 'Reboiler_Raw_Data_With_Timestamps.xlsx')
df1 = pd.read_excel(file, header=0)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M003-Carga Motor,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,68.026459,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,68.827098,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,68.871664,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,65.658285,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,64.166553,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,NaN,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,NaN,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,NaN,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,NaN,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,NaN,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [3]:
df1 = df1.drop([
	'VAL356M003-Carga Motor',
], axis='columns')
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [4]:
df1 = df1.rename(columns={
	'VAL356CI8017-Conductividad': 'Conductividad',
	'VAL356M014-Carga Motor': 'Carga motor (M014)',
	'VAL356M015-Carga Motor': 'Carga motor (M015)',
	'VAL356PI8026-Ind.Presión': 'Ind.Presión (PI8026)',
	'VAL356PIC8025-Ind.Presión': 'Ind.Presión (PIC8025)',
	'VAL356TI8015-Ind.Temperatura': 'Ind.Temperatura (TI8015)',
	'VAL356TIC8014-Ind.Temperatura': 'Ind.Temperatura (TIC8014)',
})
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [5]:
df1 = df1
s = df1['Fecha']
df1['Fecha'] = pd.to_datetime(s, errors='coerce', format='YYYY-MM-DD hh:mm:ss')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [6]:
df1 = df1.fillna(method='ffill')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

C:\Users\Milovan\AppData\Local\Temp\ipykernel_9356\3580065243.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1 = df1.fillna(method='ffill')

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [7]:
cond = ((df1['Fecha'].ge(pd.to_datetime('2016-01-01 00:00:00', format='%Y-%m-%d %H:%M:%S', errors='coerce'))))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
30676,2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
30677,2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
30678,2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
30679,2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
30680,2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [8]:
df1 = df1
df1.set_index([
	'Fecha',
], inplace=True)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [9]:
cond = ((df1['Conductividad'].le(12)))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [10]:
from functools import partial
from pandas.tseries.frequencies import to_offset

def roundfunc(t, freq):
	freq = to_offset(freq)
	return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)

df1 = df1.groupby(partial(roundfunc, freq='120T'))

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1
enum = enumerate(df1.groups)
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])

C:\Users\Milovan\AppData\Local\Temp\ipykernel_9356\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\Milovan\AppData\Local\Temp\ipykernel_9356\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)

[{'var': 'df1', 'type': 'DataFrameGroupBy'}]

Timestamp('2016-01-08 10:00:00')

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0

Timestamp('2016-01-08 12:00:00')

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.41102,19.0,78.184952,98.775669,0

In [11]:
df1 = df1.aggregate('median')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...
2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [12]:
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler', 'Reboiler_Depurado.csv')
df1.to_csv(file)
attrs = {
	'var': 'empty',
	'type': 'empty',
}
[attrs]
'csv file saved'

[{'var': 'empty', 'type': 'empty'}]

'csv file saved'

In [13]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import joblib
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler', 'Reboiler_Depurado.csv')
df14 = pd.read_csv(file, header=0)
attrs = {
	'var': 'df14',
	'type': type(df14).__name__,
}
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [15]:
df14 = df14
s = df14['Fecha']
df14['Fecha'] = pd.to_datetime(s, errors='coerce')

s = df14['Conductividad']
df14['Conductividad'] = pd.to_numeric(s, errors='coerce')

s = df14['Carga motor (M014)']
df14['Carga motor (M014)'] = pd.to_numeric(s, errors='coerce')

s = df14['Carga motor (M015)']
df14['Carga motor (M015)'] = pd.to_numeric(s, errors='coerce')

s = df14['Ind.Presión (PI8026)']
df14['Ind.Presión (PI8026)'] = pd.to_numeric(s, errors='coerce')

s = df14['Ind.Presión (PIC8025)']
df14['Ind.Presión (PIC8025)'] = pd.to_numeric(s, errors='coerce')

s = df14['Ind.Temperatura (TI8015)']
df14['Ind.Temperatura (TI8015)'] = pd.to_numeric(s, errors='coerce')

s = df14['Ind.Temperatura (TIC8014)']
df14['Ind.Temperatura (TIC8014)'] = pd.to_numeric(s, errors='coerce')

s = df14['Estado']
df14['Estado'] = pd.to_numeric(s, errors='coerce')

attrs = {
	'var': 'df14',
	'type': type(df14).__name__,
}
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [16]:
df14 = df14
df14.set_index([
	'Fecha',
], inplace=True)
attrs = {
	'var': 'df14',
	'type': type(df14).__name__,
}
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...
2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [17]:
df19 = df14.drop([
	'Estado',
	'Conductividad',
], axis='columns')
attrs = {
	'var': 'df19',
	'type': type(df19).__name__,
}
[attrs]
df19

[{'var': 'df19', 'type': 'DataFrame'}]

,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014)
Fecha,,,,,,
2016-01-08 10:00:00,69.658713,42.280192,18.769251,19.0,79.399877,99.160674
2016-01-08 12:00:00,67.954487,42.381221,18.411020,19.0,78.184952,98.775669
2016-01-08 14:00:00,69.688606,41.967134,18.601041,19.0,80.599028,101.165308
2016-01-08 16:00:00,69.274182,42.124866,18.582166,19.0,79.301819,99.934365
2016-01-08 18:00:00,69.095421,41.588124,18.593953,19.0,80.170472,100.804536
...,...,...,...,...,...,...
2018-09-06 00:00:00,72.696510,43.464317,19.695450,19.5,81.372489,99.598170
2018-09-06 02:00:00,72.905098,44.058929,19.826046,19.5,81.911505,99.633708
2018-09-06 04:00:00,72.968914,44.584087,19.523726,19.5,80.810454,99.775918
2018-09-06 06:00:00,72.905579,44.417335,19.308117,19.5,81.587220,100.136055
2018-09-06 08:00:00,72.956738,44.203780,19.335458,19.5,81.812438,100.482443

In [18]:
df22 = df14[[
	'Estado',
]]
attrs = {
	'var': 'df22',
	'type': type(df22).__name__,
}
[attrs]
df22

[{'var': 'df22', 'type': 'DataFrame'}]

                     Estado
Fecha
2016-01-08 10:00:00     0.0
2016-01-08 12:00:00     0.0
2016-01-08 14:00:00     0.0
2016-01-08 16:00:00     0.0
2016-01-08 18:00:00     0.0
...                     ...
2018-09-06 00:00:00     0.0
2018-09-06 02:00:00     0.0
2018-09-06 04:00:00     0.0
2018-09-06 06:00:00     0.0
2018-09-06 08:00:00     0.0

[11166 rows x 1 columns]

In [19]:
def datetime_window(dfx, dfy, dfy_total, scaler, size, periods, y_choose='last', ahead=''):
    catcolsx = dfx.select_dtypes(['category']).columns
    dfx[catcolsx] = dfx[catcolsx].apply(lambda x: x.cat.codes)

    catcolsy = dfy.select_dtypes(['category']).columns
    dfy[catcolsy] = dfy[catcolsy].apply(lambda x: x.cat.codes)

    catcolsy_total = dfy_total.select_dtypes(['category']).columns
    dfy_total[catcolsy_total] = dfy_total[catcolsy_total].apply(lambda x: x.cat.codes)

    ind = []
    x = []
    y = []

    def get_windows(win):
        if (win.shape[0] != periods):
            return np.nan
        
        if (y_choose == 'ahead'):
            wy = dfy.loc[win.index, :]
            try:
                wy = dfy_total.loc[wy.index[-1] + pd.Timedelta(ahead)]
                y.append(wy)

                wx = dfx.loc[win.index, :]
                x.append(wx)

                ind.append(win.index[0])
            except:
                pass
        else:
            wx = dfx.loc[win.index, :]
            x.append(wx)

            wy = dfy.loc[win.index, :]
            if (y_choose == 'last'):
                wy = wy.iloc[-1]
            elif (y_choose == 'first'):
                wy = wy.iloc[0]
            y.append(wy)

            ind.append(win.index[0])
        
        return np.nan

    dfx.iloc[:, 0].rolling(size).apply(get_windows)
    
    return x, y, ind

# --------------------------------------------------------------------------------------
def print_list_shape(lst):
    s = ''
    if (len(lst) > 0):
        s += str(len(lst))
        s += ' x ' + str(np.array(lst[0]).shape)
    else:
        s += 'empty'
        
    return s

# --------------------------------------------------------------------------------------
def normal_anomal_split(dfx, dfy, size, periods, y_choose='last', ahead='', custom_normal_split=False, normal_test_ratio=0.1, scaler='MinMaxScaler'):
    
    if (scaler == 'MinMaxScaler'):
        myscaler = MinMaxScaler(feature_range=(0, 1))
    elif (scaler == 'StandardScaler'):
        myscaler = StandardScaler()
    elif(scaler == 'RobustScaler'):
        myscaler = RobustScaler(with_centering=True, with_scaling=True, quantile_range=(25, 75))
    
    x_windowed, y_windowed, windows_ind = datetime_window(dfx=dfx, dfy=dfy, dfy_total=dfy, scaler=myscaler, size=size, periods=periods, y_choose=y_choose, ahead=ahead)
    
    
    x_normal = []
    y_normal = []
    x_anomal = []
    y_anomal = []
    for (i, wy) in enumerate(y_windowed):
        if wy.iloc[0] == 0:
            x_normal.append(x_windowed[i])
            y_normal.append(y_windowed[i])
        else:
            x_anomal.append(x_windowed[i])
            y_anomal.append(y_windowed[i])
    
    
    normal_indices = [i for i in range(len(x_normal))]
    normal_indices_permuted = np.random.permutation(normal_indices)
    
    length = len(x_normal)
    length_test = round(length * normal_test_ratio)
    
    if custom_normal_split:
        normal_test_indices = normal_indices_permuted[:length_test]
        normal_train_indices = normal_indices_permuted[length_test:]
    else:
        normal_test_indices = normal_indices_permuted[:len(y_anomal)]
        normal_train_indices = normal_indices_permuted[len(y_anomal):]
    
    
    x_normal_train = [x_normal[i] for i in normal_train_indices]
    x_normal_test = [x_normal[i] for i in normal_test_indices]
    
    
    x_normal_train_total = pd.concat(x_normal_train)
    x_normal_train_total = x_normal_train_total[~x_normal_train_total.index.duplicated(keep='first')]
    x_normal_train_total.sort_index(inplace=True)
    
    myscaler.fit(x_normal_train_total.to_numpy())
    
    x_train = []
    for wx in x_normal_train:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_train.append(wx)
    
    
    x_test = []
    y_test = []
    for wx in x_normal_test:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(0)
        
    for wx in x_anomal:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(1)
    
    x_mix = []
    for wx in x_windowed:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_mix.append(wx)
    
    y_mix = []
    for wy in y_windowed:
        wy = wy.to_numpy()
        wy = wy[0]
        y_mix.append(wy)
        
    i_mix = windows_ind

    
    return x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler
x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler = normal_anomal_split(
	dfx=df19, dfy=df22
	, size='84h', periods=42, y_choose='last', ahead=''
	, custom_normal_split=True, normal_test_ratio=0.1, scaler='MinMaxScaler')

df25 = {
	'x_train': np.array(x_train),
	'x_test': np.array(x_test),
	'y_test': np.array(y_test),
	'x_mix': np.array(x_mix),
	'y_mix': np.array(y_mix),
	'i_mix': i_mix,
	'myscaler': myscaler,
}

attrs = {
	'var': 'df25',
	'type': type(df25).__name__,
}
[attrs]

{
	'x_train': print_list_shape(x_train),
	'x_test': print_list_shape(x_test),
	'y_test': print_list_shape(y_test),
}

np.squeeze(df25['x_train'])
np.squeeze(df25['x_test'])
np.squeeze(df25['y_test'])

[{'var': 'df25', 'type': 'dict'}]

{'x_train': '6475 x (42, 6)',
 'x_test': '2926 x (42, 6)',
 'y_test': '2926 x ()'}

array([[[0.92342867, 0.7743288 , 0.0457655 , 0.05281286, 0.62841021,
         0.59718506],
        [0.92384383, 0.7721183 , 0.04616887, 0.05281286, 0.63226432,
         0.58927442],
        [0.92286472, 0.77009059, 0.04622018, 0.05281286, 0.62748131,
         0.59667178],
        ...,
        [0.93358962, 0.76073259, 0.04212392, 0.04707233, 0.63024045,
         0.59304838],
        [0.93542677, 0.76777716, 0.04115661, 0.04707233, 0.63119321,
         0.59434737],
        [0.93478519, 0.77195845, 0.04143701, 0.04707233, 0.62699761,
         0.59519229]],

       [[0.97303167, 0.80993762, 0.07202434, 0.07577497, 0.65694464,
         0.59691278],
        [0.97241195, 0.81387855, 0.07121655, 0.07577497, 0.66719255,
         0.59718791],
        [0.9729394 , 0.80584329, 0.07072143, 0.07577497, 0.66386171,
         0.59706588],
        ...,
        [0.96665905, 0.82081047, 0.06895487, 0.07577497, 0.64372115,
         0.59661003],
        [0.9666897 , 0.82068409, 0.07096573, 0.07577497, 0.64489762,
         0.59648154],
        [0.96612295, 0.81761032, 0.07130249, 0.07577497, 0.64758002,
         0.59769662]],

       [[0.93609839, 0.83235216, 0.04527356, 0.05281286, 0.63612335,
         0.59532303],
        [0.93183949, 0.83195329, 0.04543116, 0.05281286, 0.62845244,
         0.5910459 ],
        [0.93677899, 0.81863946, 0.04569611, 0.05281286, 0.62965354,
         0.59759963],
        ...,
        [0.9467543 , 0.77394761, 0.04635277, 0.05281286, 0.67591759,
         0.60131879],
        [0.95484504, 0.77582685, 0.0431335 , 0.05281286, 0.76891426,
         0.60587279],
        [0.93726259, 0.78173879, 0.04544167, 0.05281286, 0.70648143,
         0.59650185]],

       ...,

       [[0.95225344, 0.90014934, 0.04292802, 0.05281286, 0.82267162,
         0.61935928],
        [0.94919416, 0.90298045, 0.04433745, 0.05281286, 0.81479633,
         0.6116245 ],
        [0.95164792, 0.90320983, 0.04424804, 0.05281286, 0.81397309,
         0.6190188 ],
        ...,
        [0.94447224, 0.89855516, 0.04423165, 0.05281286, 0.72631383,
         0.59993212],
        [0.94442279, 0.89448816, 0.04130901, 0.05281286, 0.7272971 ,
         0.59945754],
        [0.94404786, 0.89106865, 0.04717477, 0.05281286, 0.71595865,
         0.59928097]],

       [[0.90696014, 0.77384101, 0.05199122, 0.05855339, 0.63212706,
         0.59424108],
        [0.87726401, 0.75916996, 0.0537814 , 0.05855339, 0.61118177,
         0.60734652],
        [0.9316659 , 0.73855751, 0.05627616, 0.05855339, 0.62054735,
         0.59432481],
        ...,
        [0.9591094 , 0.87070974, 0.05564897, 0.05855339, 0.70779685,
         0.60233754],
        [0.96542126, 0.84724822, 0.05553318, 0.05855339, 0.70355379,
         0.60201756],
        [0.96881075, 0.84248194, 0.05392313, 0.05855339, 0.70445212,
         0.60210361]],

       [[0.9140128 , 0.7275964 , 0.0526687 , 0.05855339, 0.62386837,
         0.58910351],
        [0.91382301, 0.73023521, 0.05414406, 0.05855339, 0.62374506,
         0.58999397],
        [0.91331991, 0.7106696 , 0.05491291, 0.05855339, 0.6236447 ,
         0.59089724],
        ...,
        [0.90020206, 0.73285646, 0.05794473, 0.05855339, 0.61924093,
         0.5929949 ],
        [0.90622878, 0.70546737, 0.0552309 , 0.05855339, 0.6296749 ,
         0.59470086],
        [0.90732256, 0.69405112, 0.04352091, 0.05510907, 0.61932576,
         0.60132943]]])

array([[[0.94226212, 0.83989499, 0.07440645, 0.07577497, 0.63694824,
         0.59664044],
        [0.94415654, 0.83999151, 0.07365828, 0.07577497, 0.63407634,
         0.59625258],
        [0.94635876, 0.83362668, 0.07351251, 0.07577497, 0.63346313,
         0.59608911],
        ...,
        [0.95904625, 0.94691859, 0.06976346, 0.07577497, 0.65105173,
         0.59457081],
        [0.95156983, 0.95776134, 0.06927856, 0.07577497, 0.64384111,
         0.59357778],
        [0.95019608, 0.93731933, 0.07067673, 0.07577497, 0.64259846,
         0.59284004]],

       [[0.89790266, 0.79296208, 0.07340072, 0.07577497, 0.57131164,
         0.59431948],
        [0.91192706, 0.72517816, 0.07691272, 0.07577497, 0.5791424 ,
         0.59564697],
        [0.9028242 , 0.71305564, 0.06797685, 0.07577497, 0.56959888,
         0.59422962],
        ...,
        [0.90584811, 0.81348105, 0.03721195, 0.04707233, 0.61187755,
         0.59771093],
        [0.89373757, 0.78993536, 0.04227882, 0.04707233, 0.59061934,
         0.60297683],
        [0.89205888, 0.71253316, 0.04558503, 0.04707233, 0.5960777 ,
         0.60286953]],

       [[0.        , 0.67334718, 0.84563323, 0.84385763, 0.86701208,
         0.63333885],
        [0.        , 0.70081812, 0.84728874, 0.84500574, 0.86347648,
         0.63092579],
        [0.        , 0.71729604, 0.8486797 , 0.84615385, 0.86084572,
         0.62845512],
        ...,
        [0.        , 0.7107232 , 0.9758478 , 0.97129736, 0.11753231,
         0.0383725 ],
        [0.        , 0.74264698, 0.86074032, 0.8564868 , 0.12731393,
         0.04093861],
        [0.        , 0.76163365, 0.85467631, 0.84959816, 0.1255419 ,
         0.04316876]],

       ...,

       [[0.96479043, 0.85133556, 0.07248405, 0.07577497, 0.74825381,
         0.60530947],
        [0.9638011 , 0.84860722, 0.07615539, 0.07577497, 0.71270188,
         0.60330985],
        [0.9630349 , 0.84605213, 0.07589459, 0.07577497, 0.70397979,
         0.60309339],
        ...,
        [0.86726807, 0.83475518, 0.08672423, 0.08725603, 0.91182008,
         0.67681066],
        [0.94788116, 0.81053873, 0.05584139, 0.05855339, 0.947541  ,
         0.69650062],
        [0.94738877, 0.7373496 , 0.05690077, 0.05855339, 0.93565066,
         0.69241895]],

       [[0.9638011 , 0.84860722, 0.07615539, 0.07577497, 0.71270188,
         0.60330985],
        [0.9630349 , 0.84605213, 0.07589459, 0.07577497, 0.70397979,
         0.60309339],
        [0.96422557, 0.86393764, 0.07548107, 0.07577497, 0.71543336,
         0.60291551],
        ...,
        [0.94788116, 0.81053873, 0.05584139, 0.05855339, 0.947541  ,
         0.69650062],
        [0.94738877, 0.7373496 , 0.05690077, 0.05855339, 0.93565066,
         0.69241895],
        [0.95118101, 0.72224715, 0.05353056, 0.05510907, 0.96413406,
         0.7095889 ]],

       [[0.9630349 , 0.84605213, 0.07589459, 0.07577497, 0.70397979,
         0.60309339],
        [0.96422557, 0.86393764, 0.07548107, 0.07577497, 0.71543336,
         0.60291551],
        [0.96363974, 0.86486606, 0.07457713, 0.07577497, 0.7222464 ,
         0.60283042],
        ...,
        [0.94738877, 0.7373496 , 0.05690077, 0.05855339, 0.93565066,
         0.69241895],
        [0.95118101, 0.72224715, 0.05353056, 0.05510907, 0.96413406,
         0.7095889 ],
        [0.86689882, 0.74275304, 0.08628682, 0.08840413, 1.00988304,
         0.740957  ]]])

array([0, 0, 0, ..., 1, 1, 1])

In [20]:
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz', 'ventana84hrs')
np.savez(file, x_train=df25['x_train'], x_test=df25['x_test'], y_test=df25['y_test'], x_mix=df25['x_mix'], y_mix=df25['y_mix'], i_mix=df25['i_mix'])
scaler_file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz', 'scaler.joblib')
joblib.dump(df25['myscaler'], scaler_file)
attrs = {
	'var': 'empty',
	'type': 'empty',
}
[attrs]
'npz file saved'

['C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz\\scaler.joblib']

[{'var': 'empty', 'type': 'empty'}]

'npz file saved'