In [1]:
# Módulos para manejo del sistema y archivos
import os                     # Interacción con el sistema operativo
import glob                   # Búsqueda de archivos con patrones (ej: *.csv)

# Librerías fundamentales para ciencia de datos
import numpy as np            # Operaciones numéricas eficientes con arrays
import pandas as pd           # Estructuras de datos tabulares (DataFrames)

# Visualización de datos
import matplotlib.pyplot as plt  # Creación de gráficos 2D/3D

# Preprocesamiento de datos (normalización/estandarización)
from sklearn.preprocessing import (
    MinMaxScaler,    # Escala datos a un rango [0, 1]
    StandardScaler,  # Estandariza datos (media=0, desviación=1)
    RobustScaler     # Escala resistente a outliers
)

# Persistencia de modelos
import joblib                 # Guardar/cargar modelos entrenados

# Configuración específica para Jupyter Notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"  # Muestra múltiples outputs por celda

In [2]:
# Configuración de entorno )
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Carga de datos ------------------------------------------------------------
# Construye la ruta al archivo Excel de forma segura (maneja espacios automáticamente)
archivo_excel = os.path.join(
    'C:/Users/Milovan/Desktop/notebook para repositorio/reboiler',
    'Reboiler_Raw_Data_With_Timestamps.xlsx'
)

# Lee el archivo Excel (header=0 indica que la primera fila son los nombres de columnas)
df1 = pd.read_excel(archivo_excel, header=0)

# 2. Metadatos automáticos -----------------------------------------------------
info_df = {
    'variable': 'df1',                     # Nombre asignado al DataFrame
    'tipo_dato': type(df1).__name__,       # Tipo de objeto (DataFrame)
    'dimensiones': df1.shape,              # (filas, columnas)
    'columnas': list(df1.columns),         # Lista de nombres de columnas
    'muestra': df1.head(2).to_dict()       # Primeras 2 filas como diccionario
}

# 3. Visualización interactiva (Jupyter) --------------------------------------
info_df  # Muestra los metadatos expandidos
df1      # Muestra el DataFrame completo con paginación automática

{'variable': 'df1',
 'tipo_dato': 'DataFrame',
 'dimensiones': (42206, 10),
 'columnas': ['Fecha',
  'VAL356CI8017-Conductividad',
  'VAL356M003-Carga Motor',
  'VAL356M014-Carga Motor',
  'VAL356M015-Carga Motor',
  'VAL356PI8026-Ind.Presión',
  'VAL356PIC8025-Ind.Presión',
  'VAL356TI8015-Ind.Temperatura',
  'VAL356TIC8014-Ind.Temperatura',
  'Estado'],
 'muestra': {'Fecha': {0: Timestamp('2006-10-24 23:38:00'),
   1: Timestamp('2006-10-25 01:38:00')},
  'VAL356CI8017-Conductividad': {0: 12.3, 1: 18.9},
  'VAL356M003-Carga Motor': {0: 68.0264591, 1: 68.827098},
  'VAL356M014-Carga Motor': {0: 45.6700563, 1: 45.9245689},
  'VAL356M015-Carga Motor': {0: 30.3431731, 1: 30.1266536},
  'VAL356PI8026-Ind.Presión': {0: 21.4925528, 1: 20.9549559},
  'VAL356PIC8025-Ind.Presión': {0: 20.9, 1: 20.6},
  'VAL356TI8015-Ind.Temperatura': {0: 71.883617, 1: 72.3014535},
  'VAL356TIC8014-Ind.Temperatura': {0: 103.4148458, 1: 103.487449},
  'Estado': {0: 0, 1: 0}}}

,Fecha,VAL356CI8017-Conductividad,VAL356M003-Carga Motor,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,68.026459,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,68.827098,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,68.871664,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,65.658285,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,64.166553,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,NaN,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,NaN,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,NaN,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,NaN,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,NaN,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [3]:
# Elimina la columna especificada del DataFrame
df1 = df1.drop(columns=['VAL356M003-Carga Motor'])

# Diccionario de metadatos actualizado
attrs = {
    'var': 'df1',                  # Nombre de la variable
    'type': type(df1).__name__,    # Tipo de objeto (DataFrame)
    'columns': list(df1.columns)   # Nuevas columnas disponibles (añadido para referencia)
}

# Muestra los metadatos y el DataFrame actualizado
[attrs]
df1

[{'var': 'df1',
  'type': 'DataFrame',
  'columns': ['Fecha',
   'VAL356CI8017-Conductividad',
   'VAL356M014-Carga Motor',
   'VAL356M015-Carga Motor',
   'VAL356PI8026-Ind.Presión',
   'VAL356PIC8025-Ind.Presión',
   'VAL356TI8015-Ind.Temperatura',
   'VAL356TIC8014-Ind.Temperatura',
   'Estado']}]

,Fecha,VAL356CI8017-Conductividad,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [4]:
# Renombra las columnas del DataFrame con nombres más descriptivos
df1 = df1.rename(columns={
    'VAL356CI8017-Conductividad': 'Conductividad',
    'VAL356M014-Carga Motor': 'Carga motor (M014)',
    'VAL356M015-Carga Motor': 'Carga motor (M015)',
    'VAL356PI8026-Ind.Presión': 'Ind.Presión (PI8026)',
    'VAL356PIC8025-Ind.Presión': 'Ind.Presión (PIC8025)',
    'VAL356TI8015-Ind.Temperatura': 'Ind.Temperatura (TI8015)',
    'VAL356TIC8014-Ind.Temperatura': 'Ind.Temperatura (TIC8014)'
})

# Crea un diccionario con metadatos básicos del DataFrame
attrs = {
    'var': 'df1',                # Nombre de la variable
    'type': type(df1).__name__,  # Tipo de objeto (DataFrame)
}

# Muestra los metadatos y el DataFrame resultante
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [5]:
# Convertir columna 'Fecha' a datetime con formato específico
df1['Fecha'] = pd.to_datetime(
    df1['Fecha'], 
    errors='coerce',  # Convierte errores a NaT (Not a Time)
    format='%Y-%m-%d %H:%M:%S'  # Formato corregido (ver nota)
)

# Diccionario de metadatos
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,
}

# Mostrar resultados
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [6]:
# Rellena valores NaN usando el método 'forward fill' (propaga el último valor válido hacia adelante)
df1 = df1.fillna(method='ffill')

# Diccionario de metadatos del DataFrame
attrs = {
    'var': 'df1',                # Nombre de la variable
    'type': type(df1).__name__,  # Tipo de objeto (DataFrame)
}

# Mostrar los metadatos y el DataFrame resultante
[attrs]
df1

C:\Users\Milovan\AppData\Local\Temp\ipykernel_11852\2707997867.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1 = df1.fillna(method='ffill')

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [7]:
# Filtra el DataFrame para conservar solo filas con fecha >= '2016-01-01 00:00:00'
cond = (df1['Fecha'] >= pd.to_datetime('2016-01-01 00:00:00', format='%Y-%m-%d %H:%M:%S', errors='coerce'))
df1 = df1[cond]

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,
}

# Muestra los metadatos y el DataFrame filtrado
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
30676,2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
30677,2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
30678,2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
30679,2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
30680,2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [8]:
# Establece la columna 'Fecha' como índice del DataFrame
df1.set_index('Fecha', inplace=True)

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,
}

# Muestra los metadatos y el DataFrame con el nuevo índice
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [9]:
# Filtra el DataFrame para mantener solo filas donde Conductividad <= 12
cond = (df1['Conductividad'] <= 12)
df1 = df1[cond]

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,
}

# Muestra los metadatos y el DataFrame filtrado
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [10]:
from functools import partial
from pandas.tseries.frequencies import to_offset

# Función para redondear timestamps a intervalos específicos
def roundfunc(t, freq):
    freq = to_offset(freq)  # Convierte el string de frecuencia (ej: '120T') a objeto pandas
    return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)  # Redondeo matemático

# Agrupa el DataFrame en intervalos de 120 minutos (2 horas)
df1 = df1.groupby(partial(roundfunc, freq='120T'))  # '120T' = 120 minutos

# Metadatos del objeto GroupBy
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,  # Será 'DataFrameGroupBy'
}

# Muestra los metadatos y el objeto GroupBy
[attrs]
df1

# Itera sobre los grupos (primeros 2 como ejemplo)
enum = enumerate(df1.groups)  # Crea un enumerador de grupos
nextel = next(enum)  # Primer grupo: (índice, timestamp)
df1.get_group(nextel[1])  # Muestra datos del primer grupo

nextel = next(enum)  # Segundo grupo
df1.get_group(nextel[1])  # Muestra datos del segundo grupo

C:\Users\Milovan\AppData\Local\Temp\ipykernel_11852\2463392316.py:6: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)  # Convierte el string de frecuencia (ej: '120T') a objeto pandas
C:\Users\Milovan\AppData\Local\Temp\ipykernel_11852\2463392316.py:7: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)  # Redondeo matemático

[{'var': 'df1', 'type': 'DataFrameGroupBy'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.41102,19.0,78.184952,98.775669,0

In [11]:
# Calcula la mediana de todas las columnas numéricas del DataFrame
df1 = df1.aggregate('median')

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df1',
    'type': type(df1).__name__,  # Será 'Series' (ya que aggregate devuelve una Series con las medianas)
}

# Muestra los metadatos y el resultado
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...
2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [12]:
# Guarda el DataFrame df1 como archivo CSV en la ruta especificada
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler', 'Reboiler_Depurado.csv')
df1.to_csv(file)  # Exporta a CSV sin incluir el índice (default)

# Diccionario de metadatos (configurado manualmente como 'empty')
attrs = {
    'var': 'empty',  # Indica que no hay variable asociada
    'type': 'empty'   # Tipo de dato marcado como vacío
}

# Muestra los metadatos y confirma el guardado
[attrs]
'csv file saved'  # Mensaje de confirmación textual

[{'var': 'empty', 'type': 'empty'}]

'csv file saved'

In [13]:
# Carga el archivo CSV guardado previamente como un nuevo DataFrame
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler', 'Reboiler_Depurado.csv')
df14 = pd.read_csv(file, header=0)  # header=0 usa la primera fila como nombres de columna

# Diccionario de metadatos del DataFrame cargado
attrs = {
    'var': 'df14',                # Nombre de la variable asignada
    'type': type(df14).__name__,   # Tipo de objeto ('DataFrame')
}

# Muestra los metadatos y el DataFrame cargado
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [14]:
# Conversión segura de tipos de datos columna por columna
df14['Fecha'] = pd.to_datetime(df14['Fecha'], errors='coerce')  # Convertir a datetime

# Convertir columnas numéricas (maneja errores con coerción a NaN)
columnas_numericas = [
    'Conductividad',
    'Carga motor (M014)',
    'Carga motor (M015)',
    'Ind.Presión (PI8026)',
    'Ind.Presión (PIC8025)',
    'Ind.Temperatura (TI8015)',
    'Ind.Temperatura (TIC8014)',
    'Estado'
]

for col in columnas_numericas:
    df14[col] = pd.to_numeric(df14[col], errors='coerce')

# Metadatos del DataFrame procesado
attrs = {
    'var': 'df14',
    'type': type(df14).__name__,
}

# Mostrar resultados
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [15]:
# Establece la columna 'Fecha' como índice del DataFrame
df14.set_index('Fecha', inplace=True)

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df14',
    'type': type(df14).__name__,  # Será 'DataFrame' con índice datetime
}

# Muestra los metadatos y el DataFrame con el nuevo índice
[attrs]
df14

[{'var': 'df14', 'type': 'DataFrame'}]

,Conductividad,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014),Estado
Fecha,,,,,,,,
2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...
2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [16]:
# Elimina columnas especificadas del DataFrame
df19 = df14.drop(columns=['Estado', 'Conductividad'])

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df19',
    'type': type(df19).__name__,  # Sigue siendo 'DataFrame'
}

# Muestra los metadatos y el DataFrame resultante
[attrs]
df19

[{'var': 'df19', 'type': 'DataFrame'}]

,Carga motor (M014),Carga motor (M015),Ind.Presión (PI8026),Ind.Presión (PIC8025),Ind.Temperatura (TI8015),Ind.Temperatura (TIC8014)
Fecha,,,,,,
2016-01-08 10:00:00,69.658713,42.280192,18.769251,19.0,79.399877,99.160674
2016-01-08 12:00:00,67.954487,42.381221,18.411020,19.0,78.184952,98.775669
2016-01-08 14:00:00,69.688606,41.967134,18.601041,19.0,80.599028,101.165308
2016-01-08 16:00:00,69.274182,42.124866,18.582166,19.0,79.301819,99.934365
2016-01-08 18:00:00,69.095421,41.588124,18.593953,19.0,80.170472,100.804536
...,...,...,...,...,...,...
2018-09-06 00:00:00,72.696510,43.464317,19.695450,19.5,81.372489,99.598170
2018-09-06 02:00:00,72.905098,44.058929,19.826046,19.5,81.911505,99.633708
2018-09-06 04:00:00,72.968914,44.584087,19.523726,19.5,80.810454,99.775918
2018-09-06 06:00:00,72.905579,44.417335,19.308117,19.5,81.587220,100.136055
2018-09-06 08:00:00,72.956738,44.203780,19.335458,19.5,81.812438,100.482443

In [17]:
# Selecciona solo la columna 'Estado' del DataFrame original
df22 = df14[['Estado']]  # Usar doble corchete para mantener como DataFrame

# Diccionario de metadatos (estructura original preservada)
attrs = {
    'var': 'df22',
    'type': type(df22).__name__,  # Será 'DataFrame' (no Series)
}

# Muestra los metadatos y el DataFrame resultante
[attrs]
df22

[{'var': 'df22', 'type': 'DataFrame'}]

                     Estado
Fecha
2016-01-08 10:00:00     0.0
2016-01-08 12:00:00     0.0
2016-01-08 14:00:00     0.0
2016-01-08 16:00:00     0.0
2016-01-08 18:00:00     0.0
...                     ...
2018-09-06 00:00:00     0.0
2018-09-06 02:00:00     0.0
2018-09-06 04:00:00     0.0
2018-09-06 06:00:00     0.0
2018-09-06 08:00:00     0.0

[11166 rows x 1 columns]

In [21]:
# =====================================================================
# FUNCIÓN: datetime_window
# Propósito: Crea ventanas temporales para análisis de series de tiempo
# =====================================================================
def datetime_window(dfx, dfy, dfy_total, scaler, size, periods, y_choose='last', ahead=''):
    # Convertir columnas categóricas a códigos numéricos
    catcolsx = dfx.select_dtypes(['category']).columns
    dfx[catcolsx] = dfx[catcolsx].apply(lambda x: x.cat.codes)

    catcolsy = dfy.select_dtypes(['category']).columns
    dfy[catcolsy] = dfy[catcolsy].apply(lambda x: x.cat.codes)

    catcolsy_total = dfy_total.select_dtypes(['category']).columns
    dfy_total[catcolsy_total] = dfy_total[catcolsy_total].apply(lambda x: x.cat.codes)

    # Listas para almacenar resultados
    ind = []
    x = []
    y = []

    # Función que procesa cada ventana temporal
    def get_windows(win):
        if (win.shape[0] != periods):
            return np.nan
        
        if (y_choose == 'ahead'):
            wy = dfy.loc[win.index, :]
            try:
                wy = dfy_total.loc[wy.index[-1] + pd.Timedelta(ahead)]
                y.append(wy)

                wx = dfx.loc[win.index, :]
                x.append(wx)

                ind.append(win.index[0])
            except:
                pass
        else:
            wx = dfx.loc[win.index, :]
            x.append(wx)

            wy = dfy.loc[win.index, :]
            if (y_choose == 'last'):
                wy = wy.iloc[-1]
            elif (y_choose == 'first'):
                wy = wy.iloc[0]
            y.append(wy)

            ind.append(win.index[0])
        
        return np.nan

    # Aplica ventana móvil a los datos
    dfx.iloc[:, 0].rolling(size).apply(get_windows)
    
    return x, y, ind


# =====================================================================
# FUNCIÓN: print_list_shape
# Propósito: Muestra las dimensiones de listas de arrays numpy
# =====================================================================
def print_list_shape(lst):
    s = ''
    if (len(lst) > 0):
        s += str(len(lst))
        s += ' x ' + str(np.array(lst[0]).shape)
    else:
        s += 'empty'
        
    return s


# =====================================================================
# FUNCIÓN: normal_anomal_split
# Propósito: Divide datos en normales/anómalos y prepara para modelado
# =====================================================================
def normal_anomal_split(dfx, dfy, size, periods, y_choose='last', ahead='', custom_normal_split=False, normal_test_ratio=0.1, scaler='MinMaxScaler'):
    
    # Configuración del escalador
    if (scaler == 'MinMaxScaler'):
        myscaler = MinMaxScaler(feature_range=(0, 1))
    elif (scaler == 'StandardScaler'):
        myscaler = StandardScaler()
    elif(scaler == 'RobustScaler'):
        myscaler = RobustScaler(with_centering=True, with_scaling=True, quantile_range=(25, 75))
    
    # Generación de ventanas temporales
    x_windowed, y_windowed, windows_ind = datetime_window(dfx=dfx, dfy=dfy, dfy_total=dfy, scaler=myscaler, size=size, periods=periods, y_choose=y_choose, ahead=ahead)
    
    # Separación entre datos normales (0) y anómalos (1)
    x_normal = []
    y_normal = []
    x_anomal = []
    y_anomal = []
    for (i, wy) in enumerate(y_windowed):
        if wy.iloc[0] == 0:
            x_normal.append(x_windowed[i])
            y_normal.append(y_windowed[i])
        else:
            x_anomal.append(x_windowed[i])
            y_anomal.append(y_windowed[i])
    
    # División entrenamiento/prueba
    normal_indices = [i for i in range(len(x_normal))]
    normal_indices_permuted = np.random.permutation(normal_indices)
    
    length = len(x_normal)
    length_test = round(length * normal_test_ratio)
    
    if custom_normal_split:
        normal_test_indices = normal_indices_permuted[:length_test]
        normal_train_indices = normal_indices_permuted[length_test:]
    else:
        normal_test_indices = normal_indices_permuted[:len(y_anomal)]
        normal_train_indices = normal_indices_permuted[len(y_anomal):]
    
    # Preparación datos de entrenamiento
    x_normal_train = [x_normal[i] for i in normal_train_indices]
    x_normal_test = [x_normal[i] for i in normal_test_indices]
    
    # Escalado (solo con datos normales de entrenamiento)
    x_normal_train_total = pd.concat(x_normal_train)
    x_normal_train_total = x_normal_train_total[~x_normal_train_total.index.duplicated(keep='first')]
    x_normal_train_total.sort_index(inplace=True)
    
    myscaler.fit(x_normal_train_total.to_numpy())
    
    # Transformación de datos
    x_train = []
    for wx in x_normal_train:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_train.append(wx)
    
    # Preparación conjunto de prueba
    x_test = []
    y_test = []
    for wx in x_normal_test:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(0)
        
    for wx in x_anomal:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(1)
    
    # Datos completos (para visualización)
    x_mix = []
    for wx in x_windowed:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_mix.append(wx)
    
    y_mix = []
    for wy in y_windowed:
        wy = wy.to_numpy()
        wy = wy[0]
        y_mix.append(wy)
        
    i_mix = windows_ind

    return x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler


# =====================================================================
# EJECUCIÓN PRINCIPAL
# =====================================================================
# Procesamiento de datos
x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler = normal_anomal_split(
    dfx=df19, 
    dfy=df22,
    size='84h', 
    periods=42, 
    y_choose='last', 
    ahead='',
    custom_normal_split=True, 
    normal_test_ratio=0.1, 
    scaler='MinMaxScaler'
)

# Estructura de resultados
df25 = {
    'x_train': np.array(x_train),
    'x_test': np.array(x_test),
    'y_test': np.array(y_test),
    'x_mix': np.array(x_mix),
    'y_mix': np.array(y_mix),
    'i_mix': i_mix,
    'myscaler': myscaler,
}

# Metadatos
attrs = {
    'var': 'df25',
    'type': type(df25).__name__,
}
[attrs]

# Resumen de dimensiones
{
    'x_train': print_list_shape(x_train),
    'x_test': print_list_shape(x_test),
    'y_test': print_list_shape(y_test),
}

# Resultados finales (sin cambios)
np.squeeze(df25['x_train'])
np.squeeze(df25['x_test'])
np.squeeze(df25['y_test'])

[{'var': 'df25', 'type': 'dict'}]

{'x_train': '6475 x (42, 6)',
 'x_test': '2926 x (42, 6)',
 'y_test': '2926 x ()'}

array([[[0.95510705, 0.83730761, 0.05483926, 0.05855339, 0.66921702,
         0.59156417],
        [0.94955847, 0.79847663, 0.05322017, 0.05855339, 0.65164122,
         0.5934052 ],
        [0.90696014, 0.77384101, 0.05194466, 0.05855339, 0.63212706,
         0.59424108],
        ...,
        [0.95866511, 0.86758796, 0.05155734, 0.05855339, 0.70574565,
         0.60302968],
        [0.95850276, 0.86907852, 0.0534855 , 0.05855339, 0.70500115,
         0.60272486],
        [0.9591094 , 0.87070974, 0.05559913, 0.05855339, 0.70779685,
         0.60233754]],

       [[0.85908857, 0.6143952 , 0.05348714, 0.05855339, 0.5931118 ,
         0.57635241],
        [0.37906536, 0.78559679, 0.05314099, 0.05855339, 0.57915958,
         0.64451148],
        [0.93787727, 0.76434396, 0.05255292, 0.05855339, 0.62080288,
         0.59528667],
        ...,
        [0.95288947, 0.8385015 , 0.05626721, 0.05855339, 0.64176793,
         0.58845109],
        [0.95513611, 0.84911495, 0.05470411, 0.05855339, 0.65399287,
         0.58843244],
        [0.95325849, 0.84392461, 0.05029399, 0.05855339, 0.65312344,
         0.58912241]],

       [[0.9908033 , 0.89084475, 0.07641226, 0.07577497, 0.73065081,
         0.60544692],
        [0.99101263, 0.86360466, 0.07537722, 0.07577497, 0.72781011,
         0.60409406],
        [0.98621446, 0.85064344, 0.0736265 , 0.07577497, 0.71377734,
         0.60125149],
        ...,
        [0.97804556, 0.8703569 , 0.07493115, 0.07577497, 0.67605785,
         0.60248183],
        [0.98243422, 0.84968395, 0.07341443, 0.07577497, 0.68782138,
         0.60173483],
        [0.98032286, 0.85260925, 0.07315822, 0.07577497, 0.69621155,
         0.60101241]],

       ...,

       [[0.95749617, 0.85516437, 0.05331801, 0.05855339, 0.64141728,
         0.59918378],
        [0.95558396, 0.85269794, 0.05311042, 0.05855339, 0.63828284,
         0.59936681],
        [0.95463385, 0.8521334 , 0.05295047, 0.05855339, 0.6381513 ,
         0.59964648],
        ...,
        [0.95766176, 0.7976323 , 0.05267333, 0.05855339, 0.6863519 ,
         0.60229231],
        [0.96048057, 0.7907824 , 0.05365526, 0.05855339, 0.64934282,
         0.60174798],
        [0.96590862, 0.78809497, 0.05425448, 0.05855339, 0.64031109,
         0.60096565]],

       [[0.94268094, 0.84889308, 0.05071079, 0.05855339, 0.66176617,
         0.59456305],
        [0.94280993, 0.84749011, 0.05218196, 0.05855339, 0.66926028,
         0.59501807],
        [0.94137855, 0.84965553, 0.05740418, 0.05855339, 0.66753814,
         0.59539409],
        ...,
        [0.94159194, 0.79549896, 0.05561908, 0.05855339, 0.67188992,
         0.59058584],
        [0.94102269, 0.79564876, 0.0503394 , 0.05855339, 0.67787929,
         0.58958813],
        [0.93930651, 0.80497641, 0.0550916 , 0.05855339, 0.66909876,
         0.59516451]],

       [[0.94094216, 0.74001377, 0.04334688, 0.05051665, 0.62305742,
         0.60273349],
        [0.93711881, 0.739967  , 0.04428304, 0.05051665, 0.62484585,
         0.60245526],
        [0.93960883, 0.70925789, 0.04474341, 0.05051665, 0.63362291,
         0.60196682],
        ...,
        [0.92794185, 0.74724812, 0.0469761 , 0.05510907, 0.64860327,
         0.58921162],
        [0.82539091, 0.74295303, 0.01558619, 0.02411022, 0.6297894 ,
         0.58257296],
        [0.93031719, 0.74773267, 0.        , 0.        , 0.61402465,
         0.59029446]]])

array([[[0.90048032, 0.77152655, 0.04977712, 0.05855339, 0.64227525,
         0.601159  ],
        [0.90048603, 0.77069141, 0.05087616, 0.05855339, 0.64332482,
         0.60045021],
        [0.90199423, 0.77169744, 0.05144153, 0.05855339, 0.64347325,
         0.5996299 ],
        ...,
        [0.89567574, 0.66461048, 0.05189512, 0.05855339, 0.61020496,
         0.59384315],
        [0.91395166, 0.68960757, 0.04820308, 0.05855339, 0.67999669,
         0.59310568],
        [0.90718598, 0.70168187, 0.04380079, 0.05855339, 0.67139586,
         0.59584744]],

       [[0.96586685, 0.75283562, 0.06035687, 0.06773823, 0.62330575,
         0.59396473],
        [0.96314089, 0.75238028, 0.06590542, 0.06773823, 0.62631306,
         0.5898695 ],
        [0.96680121, 0.74863553, 0.0628143 , 0.06773823, 0.6252755 ,
         0.59648473],
        ...,
        [0.98249482, 0.80772541, 0.06237544, 0.07003444, 0.66842531,
         0.59909002],
        [0.98314844, 0.80917128, 0.06195896, 0.07003444, 0.67147119,
         0.59895133],
        [0.9793913 , 0.81429231, 0.06753457, 0.07003444, 0.64181497,
         0.59842367]],

       [[0.93111468, 0.81387899, 0.04358338, 0.04707233, 0.623063  ,
         0.60155916],
        [0.93450933, 0.8137078 , 0.04432438, 0.04707233, 0.61481105,
         0.59910352],
        [0.93416909, 0.81995515, 0.04018679, 0.04707233, 0.60874369,
         0.5971441 ],
        ...,
        [0.94098855, 0.76548419, 0.05359515, 0.05855339, 0.64091778,
         0.59666796],
        [0.94627598, 0.78030599, 0.05585784, 0.05855339, 0.64394852,
         0.59676193],
        [0.95104347, 0.81312146, 0.05350687, 0.05855339, 0.67971888,
         0.598288  ]],

       ...,

       [[0.96479043, 0.85133556, 0.07241913, 0.07577497, 0.74825381,
         0.60530947],
        [0.9638011 , 0.84860722, 0.07608718, 0.07577497, 0.71270188,
         0.60330985],
        [0.9630349 , 0.84605213, 0.07582662, 0.07577497, 0.70397979,
         0.60309339],
        ...,
        [0.86726807, 0.83475518, 0.08664656, 0.08725603, 0.91182008,
         0.67681066],
        [0.94788116, 0.81053873, 0.05579138, 0.05855339, 0.947541  ,
         0.69650062],
        [0.94738877, 0.7373496 , 0.05684981, 0.05855339, 0.93565066,
         0.69241895]],

       [[0.9638011 , 0.84860722, 0.07608718, 0.07577497, 0.71270188,
         0.60330985],
        [0.9630349 , 0.84605213, 0.07582662, 0.07577497, 0.70397979,
         0.60309339],
        [0.96422557, 0.86393764, 0.07541347, 0.07577497, 0.71543336,
         0.60291551],
        ...,
        [0.94788116, 0.81053873, 0.05579138, 0.05855339, 0.947541  ,
         0.69650062],
        [0.94738877, 0.7373496 , 0.05684981, 0.05855339, 0.93565066,
         0.69241895],
        [0.95118101, 0.72224715, 0.05348262, 0.05510907, 0.96413406,
         0.7095889 ]],

       [[0.9630349 , 0.84605213, 0.07582662, 0.07577497, 0.70397979,
         0.60309339],
        [0.96422557, 0.86393764, 0.07541347, 0.07577497, 0.71543336,
         0.60291551],
        [0.96363974, 0.86486606, 0.07451034, 0.07577497, 0.7222464 ,
         0.60283042],
        ...,
        [0.94738877, 0.7373496 , 0.05684981, 0.05855339, 0.93565066,
         0.69241895],
        [0.95118101, 0.72224715, 0.05348262, 0.05510907, 0.96413406,
         0.7095889 ],
        [0.86689882, 0.74275304, 0.08620954, 0.08840413, 1.00988304,
         0.740957  ]]])

array([0, 0, 0, ..., 1, 1, 1])

In [22]:
# Guarda los arrays numpy en archivo .npz
file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz', 'ventana84hrs')
np.savez(
    file, 
    x_train=df25['x_train'],  # Datos de entrenamiento
    x_test=df25['x_test'],    # Datos de prueba
    y_test=df25['y_test'],    # Etiquetas de prueba (0=normal, 1=anómalo)
    x_mix=df25['x_mix'],      # Todos los datos mezclados
    y_mix=df25['y_mix'],      # Todas las etiquetas mezcladas
    i_mix=df25['i_mix']       # Índices temporales
)

# Guarda el escalador como archivo .joblib
scaler_file = os.path.join('C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz', 'scaler.joblib')
joblib.dump(df25['myscaler'], scaler_file)  # Serializa el objeto scaler

# Metadatos (configurados como vacíos)
attrs = {
    'var': 'empty',
    'type': 'empty'
}

# Confirmación de guardado
[attrs]
'npz file saved'

['C:/Users/Milovan/Desktop/notebook para repositorio/reboiler/archnpz\\scaler.joblib']

[{'var': 'empty', 'type': 'empty'}]

'npz file saved'